<head>
    <meta charset="utf-8">
    <!-- JQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Angular -->
    <script src="../bower_components/angular/angular.min.js"></script>
    <!-- APP -->
    <script src="../app.js"></script>
    <script src="../admin/admin.controller.js"></script>
    <!-- Bootstrap -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <!-- Bootstrap Material -->
    <link href="../bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css" type="text/css" rel="stylesheet">
    <link href="../bower_components/bootstrap-material-design/dist/css/ripples.min.css" type="text/css" rel="stylesheet">
    <!-- Compiled and minified CSS-->
    <link href="../styles/style.css" type="text/css" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <!-- Bootstrap Script -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--Bower JS-->
    <link href="../bower_components/bootstrap-material-design/dist/js/material.min.js" type="text/css" rel="stylesheet">
</head>

<body ng-App="MapsApplication" ng-controller="adminController">
    <!-- Modal--->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Admin Autentication</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="margin-left:10%;margin-right:20%;">
                        <input type="text" style="text-align:center;" class="form-control" id="recipient-name" ng-model="user">
                        <br>
                        <input type="password" style="text-align:center;" class="form-control" id="message-text" ng-model="pass">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="btn btn-raised btn-warning" data-dismiss="modal">Cancel</a>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-raised btn-success" href="../admin/admin.new_terminal.html">Continue</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header--->
    <div id="header">
        <div class="bs-component">
            <div class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="../home/home.html">BusTravelCR</a>
                    </div>
                    <div class="navbar-collapse collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="../home/home.html">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="../map/map.html">Maps</a></li>
                        </ul>
                        <form class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" class="form-control col-md-8" placeholder="Search">
                            </div>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a data-toggle="modal" data-target="#exampleModal" href="../admin/admin.view_terminal.html">Admin</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header of about--->
    <header class="intro-header" style="background-image: url('../images/me.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Add white background--->
    <div style="background-color:#FFFFFF;">
        <div class="container">
            <!-- About Section -->
            <br>
            <br>
            <section id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="timeline">
                                <li>
                                    <div class="timeline-image">
                                        <img class="img-circle img-responsive" src="../images/tec.jpg" alt="">
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4>February 2013</h4>
                                            <h4 class="subheading">My Humble Beginnings</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p class="text-muted">Accepted in the Costa Rican Institute of Tecnology for a bachelor´s degree on Computer Science!</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-image">
                                        <img class="img-circle img-responsive" src="../images/web.png" alt="">
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4>March 2016</h4>
                                            <h4 class="subheading">Web programming learned</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p class="text-muted">Despite the time needed, creating a website is quite attractive and its been quite an effort to get here!</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-image">
                                        <img class="img-circle img-responsive" src="../images/gis.png." alt="">
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4>May 2016</h4>
                                            <h4 class="subheading">GIS for Maps</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p class="text-muted">Learning GIS for maps is difficult, but there is a lot of cool things to learn from GIS!</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-image">
                                        <img class="img-circle img-responsive" src="../images/angular.png" alt="">
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4>June 2016</h4>
                                            <h4 class="subheading">First framework steps</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p class="text-muted">Coding a website with the use of a framewrok is easier than without, Angular was used to create this web application!</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <hr>
    </div>

    <!-- Footer-->
    <div ng-include="'../templates/footer.html'"></div>
</body>