<html>

<head>
    <meta charset="utf-8">
    <!-- JQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Angular -->
    <script src="../bower_components/angular/angular.min.js"></script>
    <!-- APP -->
    <script src="../app.js"></script>
    <script src="./admin.controller.js"></script>

    <!-- Styles -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="../styles/style.css" type="text/css" rel="stylesheet">
</head>

<body ng-App="MapsApplication" ng-controller="adminController">
   
    
    <div ng-include="'../templates/header.html'"></div>

    <!-- CONTAINER STUFF--->
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <div class="row">
                <p> Mapa aqui</p>   
            </div>
            <div class="row" style="margin-top: 100px;">
                <img src="../images/left_icon.png" ng-click="moveMap('left')" class="img-circle" alt="Cinque Terre" width="50" height="50">
                <img src="../images/up_icon.png" ng-click="moveMap('up')" class="img-circle" alt="Cinque Terre" width="50" height="50">
                <img src="../images/down_icon.png"ng-click="moveMap('down')"  class="img-circle" alt="Cinque Terre" width="50" height="50">  
                <img src="../images/right_icon.png" ng-click="moveMap('right')" class="img-circle" alt="Cinque Terre" width="50" height="50">  
           </div>
        </div>

        <div class="col-md-5">

            <form novalidate class="simple-form" name="addBusTerminal">
               <label>{{busTerminal}}</label>
                <div class="row">
                    <label>Single Textbox:
                        <input type="text" name="name" ng-model="busTerminal" >
                    </label>
                </div>
                <div class="row">
                   
                </div>
            </form>
        </div>

    </div>
    <div ng-include="'../templates/footer.html'"></div>
</body>

</html>