<!-- FOOTER STUFF--->
<footer class="footer-distributed">

    <div class="footer-left">

        <h3>Bus<span>Maps</span>CR</h3>

        <p class="footer-links">
            <a href="#">Home</a> ·
            <a href="#">Bus</a> ·
            <a href="#">Maps</a> ·
            <a href="#">About</a>
        </p>

        <p class="footer-company-name">BusMapsCR &copy; 2016</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Santa Clara</span> San Carlos, Costa Rica</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+506 8517 6164</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">support@company.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About the company</span> We are a company dedicated to help backpack travelers find their way around Costa Rica, offering them a variety of bus stops and schedules.
        </p>

    </div>

</footer>