 <!-- HEADER STUFF--->
   <div class="content">
      <nav class="navbar navbar-default navbar-static-top" >
        <div class="container" style="padding-left:10%; padding-right:10%;">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <img  class="navbar-brand" src="../images/bus-stations.png"  style="clear:both;padding:right:20px;width:170px;height:80px;" ui-sref="home" alt="BusRoutesCR">
          </div>
          <div id="navbar3" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a ui-sref="home">Home</a></li>
                <li><a ui-sref="bus">Bus</a></li>
                <li><a ui-sref="map">Maps</a></li>
                <li><a ui-sref="about">About</a></li>
                <li>&nbsp;</li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
      </nav>
    </div>
